<section
			class=" landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
            data-header-color="white"
		>
			<div class="relative z-30 flex flex-col h-full">
				<header>
					<h2 class="text-white pt-64 text-[40px] font-medium">Experience Tesla</h2>
					<p class="text-white text-base pt-10">Schedule a Demo Drive Today</p>
				</header>
				<footer class="text-white flex flex-col flex-grow justify-end pb-24">
					<div>
						<a class="border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-semibold py-3 px-20 hover:bg-white hover:text-black transition-colors" href="#">Demo drive</a>
					</div>
				</footer>
			</div>
			<div class="absolute top-0 z-10">
				<video class="object-cover h-screen w-screen"  autoplay muted loop src="/video.webm"
				></video>
			</div>
		</section>