<section
	class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
	data-header-color="black"
>
	<div class="relative z-30 flex flex-col h-full">
		<header>
			<h2 class="text-black pt-64 text-[40px] font-medium">
				Model 3
			</h2>
			<p class="text-black text-base pt-10">Starting at $32,740</p>
			<p class="text-black text-base ">After Federal Tax Credit</p>
		</header>
		<footer class="text-black flex flex-col flex-grow justify-end pb-24">
			<div class="flex gap-x-6 justify-center">
				<a
					class="rounded bg-white font-semibold py-3 px-20"
					href="#">Explore Invetory</a
				>
				<a
					class="rounded bg-gray-900 text-white font-semibold py-3 px-20"
					href="#">Custom Order</a
				>
			</div>
		</footer>
	</div>
	<div class="absolute top-0 z-10">
		<img class="w-screen h-screen object-cover object-center" src="/model-3.avif" alt="tesla model 3">
	</div>
</section>
